body {
	background-color: #eee;
}

.name h1 a {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.title-area {
		font-size: 18pt;
}

.centered {
		text-align: center;
}

#main_heading_wrapper {
		padding-top: 50px;
		padding-bottom: 100px;
		background-color: #34495e;
}


#main_heading h1 {
		color: #fff;
		font-weight: bold
}

#main_heading h3 {
		color: #eee;
}

#description {
	font-size: 14pt;
	line-height: 1.4em;
	color: #333;
}

#what_is {
	padding-top: 35px;
	
}

#description_row {
	padding-top: 35px;
}

#description_wrapper {
	background-color: #eee;
	margin-top: 0px;
}

